@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.div-main {
    padding: 2px;
    border: solid;
    border-width: 1px;
    border-color: green;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 3px;
}

.div1 {
    background-color: white;
    height: 80px;
    width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div2 {
    background-color: white;
    font-size: larger;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.div3 {
    display: flex;
    align-items: center;
}

.tag1 {
    font-size: 15px;
    color: rgb(53, 176, 53);
    height: 25px;
    padding-left: 5px;
    width: 90px;
    border: solid;
    border-color: rgb(53, 176, 53);
    border-radius: 25px;
    border-width: 1.5px;
    margin-right: 8px;
}

.tag1:hover {
    opacity: 75%;
}

.tag2 {
    font-size: 15px;
    color: rgb(227, 24, 89);
    height: 25px;
    padding-left: 5px;
    width: 90px;
    background-color: rgb(239, 219, 225);
    border: solid;
    border-color: rgb(227, 24, 89);
    border-radius: 25px;
    border-width: 1.5px;
}

.tag2:hover {
    opacity: 75%;
}

.div4 {
    background-color: white;
    margin-top: 2px;
    color: rgb(53, 176, 53);
    margin-left: 12px;
    font-size: 12px;
}

.date {
    font-size: 10px;
    color: black;
    font-weight: bold;
    margin-left: 55px;
}