body {
  font-family: 'Poppins', sans-serif;
}

.region-details {
  display: flex;
  flex-direction: column; /* Allow stacking of elements */
  align-items: flex-start; /* Align items to the start */
  text-align: left;
  padding: 20px; /* Add padding for better spacing */
}

.map-container {
  position: relative; /* Position relative to allow absolute positioning of children */
  display: inline-block; /* Shrink-wrap the container around its content */
  text-align: left;
}

.region-image {
  width: 100%; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
  pointer-events: none; /* Disable all mouse interactions */
}

/* Ensure there are no hover effects applied to the map */

.complaint-preview-container {
  position: absolute;
  top: 40%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the container */
  z-index: 10; /* Ensure it's above the image */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-overlay {
  position: absolute;
  top: -20px; /* Position the arrow above the button */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent; /* Arrow pointing down */
}

.toggle-preview-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 20; /* Ensure it is above other content */
}

.toggle-preview-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.region-name-overlay {
  position: absolute;
  top: 15%; /* Adjust as needed */
  left: 40%;
  transform: translateX(-50%);
  color: white; /* Default text color, will be overridden by inline style */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 15; /* Ensure it is above the image but below the preview button */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.region-complaints-overlay {
  position: absolute;
  top: 2%; /* Adjust as needed */
  left: 10%;
  transform: translateX(-50%);
  color: white; /* Default text color, will be overridden by inline style */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 15; /* Ensure it is above the image but below the preview button */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Add the new styles for the .container class */
.container {
  width: 60.5%;
  top: 79px;
}
