body {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to the entire body */
}

.navbar {
  position: absolute; /* Change position to absolute */
  top: 0;
  left: 50%; /* Position the navbar in the middle horizontally */
  transform: translateX(-50%); /* Center the navbar horizontally */
  background: white;
  height: 60px;
  display: flex;
  justify-content: center; /* Center the navbar container */
  align-items: center;
  font-size: 1rem;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Rounds the borders */
  width: 90%; /* Adjust the width of the navbar */
  max-width: 1200px; /* Maximum width for the navbar */
}

.navbar-container {
  display: flex;
  justify-content: center; /* Center the elements inside the container */
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%; /* Ensure it takes full width of the navbar */
  padding: 0 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 60px; /* Match the height of the navbar */
}

.nav-links {
  color: #000; /* Adjust text color if needed */
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover {
  color: #15cdfc; /* Adjust hover color if needed */
  transition: all 0.2s ease-in-out;
}

.profile-container {
  position: relative;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}